<div class="row">
    <div class="large-6 columns">
        <h1>Welcome to <b>FlexiBox</b></h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <form name="login" enctype="multipart/form-data">
            <label>Username:
                <input type="text" name="name" placeholder="Username" ng-model="formData.name" required />
            </label>
            <label>Password:
                <input type="text" name="password" ng-model="formData.password" required />
            </label>
            <button type="submit" class="button">Login</button>
        </form>
    </div>
</div>