<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FlexiBox</title>
        <link rel="stylesheet" href="/dependencies/css/openstyle/autobahn-flat.css" />
        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body ng-controller="FlexiBox.session.sessionController" class="openstyle">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="projects" class="brand"><img src="/img/flexi-logo.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-hide="user.role != 'System Admin'"><a href="admin">Admin Page</a></li>
                        <li ng-hide="!user.name"><a href="#" ng-click="logout();">Logout</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" ng-model="searchText" placeholder="Filter" ng-hide="!user.name" class="form-control" >
                    </form>
                </div>
            </div>
        </div>

        <div ng-view>

        </div>

        <!-- SCRIPTS -->
        <script src="root.js"></script>
        <script data-main="/app/main" src="/dependencies/js/requirejs-bower/require.js"></script>
    </body>
</html>
