<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="left">Welcome to <b>Flexi</b></h1>
            <a href="#" data-toggle="modal" data-target="#newProjectModal" class="btn btn-default btn-sm add-item" ng-hide="user.role=='Commenter'">Create a project</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="sorting-options">
                <div class="sorting-dropdown">
                    Sort By:
                    <select class="form-control" id="filterDropdown" ng-change="filterSelected()"ng-model="filter" ng-options="opt as opt.label for opt in options">
                    </select>
                </div>
                <ul class="pagination" ng-hide="pages.length <= 1">
                    <li>
                        <a href="#" aria-label="Previous" ng-click="pageLeft();">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="i in pages track by $index" ng-class="{'active':page === ($index + 1)}"><a href="#" ng-click="setPage($index + 1)">{{ $index + 1}}</a></li>
                    <li>
                        <a href="#" aria-label="Next" ng-click="pageRight();">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="panel-list">
                <li ng-repeat="project in visibleProjects | filter:searchText" class="panel">
                    <div class="panel-top">
                        <a href="#" class="panel-delete" ng-click="setDeletable(project);" ng-hide="user.role =='Commenter'" data-toggle="modal" data-target="#deleteProjectModal"><span class="fa fa-times" aria-hidden="true"></span></a>
                        <a href="#" class="panel-edit" ng-click="setEditable(project._id)" ng-hide="user.role =='Commenter'" data-toggle="modal" data-target="#editProjectModal"><span class="fa fa-pencil" aria-hidden="true"></span></a>
                    </div>
                    <a class="panel-middle" href="/projects/{{ project._id }}">
                        <h4>{{ project.name }}</h4>
                        <p style="clear:both;">{{ project.description }}</p>

                    </a>
                    <div class="panel-bottom">
                        <a class="shared-with-icon" ng-show="project.commenters[0]"><span class="fa fa-users" aria-hidden="true" /></a>
                        <div class="shared-with">
                            <span ng-repeat="commenter in project.commenters">{{commenter.name}}<br /></span>
                        </div>
                        <!--<span class="label label-success notification">Success</span><span class="label label-warning notification">Warning</span>-->
                    </div>
                </li>
                <li class="new panel" data-toggle="modal" data-target="#newProjectModal" ng-hide="user.role =='Commenter'">
                    <p>+</p>
                </li>
            </ul>
        </div>
    </div>
</div>





<!-- MODALS -->
<div class="modal fade" id="newProjectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a new project!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-md-12">
                    <form name="createForm" enctype="multipart/form-data">
                        <div>
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$pristine || createForm.name.$invalid}">*</span> Name</label>
                                <input class="form-control" type="text" name="name" placeholder="name of project" ng-model="formData.name" ng-maxlength="64" ng-minlength="3" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="formData.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" class="form-tag"  ng-click="removeTag($index);">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Share this project</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="sharedUser in newSharedUsers" ng-click="removeNewSharedUser(sharedUser._id);" class="form-tag">{{ sharedUser.name }}<span> ({{ sharedUser.email }})</span></span>
                                    <input class="form-new-tag" ng-model="newSharedUser" ng-keyup="filterPotentialUsers();" placeholder="add a user"/>
                                </div>
                                <div class="potential-users" ng-hide="!potentialUsers[0]">
                                    <ul>
                                        <li ng-repeat="potentialUser in potentialUsers" ng-click="addSharedUser(potentialUser);">{{ potentialUser.name }}<span> ({{ potentialUser.email }})</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" modal ng-click="createProject(); dClose('newProjectModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid">Create Project</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editProjectModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelEdit();"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit {{ editableProject.name }}!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="createForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$invalid}">*</span> Edit name</label>
                                <input class="form-control" type="text" ng-model="editableProject.name"  required />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="editableProject.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" ng-click="removeTag($index);" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Share this project</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="sharedUser in newSharedUsers" ng-click="removeNewSharedUser(sharedUser._id);" class="form-tag">{{ sharedUser.name }}<span> ({{ sharedUser.email }})</span></span>
                                    <input class="form-new-tag" ng-model="newSharedUser" ng-keyup="filterPotentialUsers();" placeholder="add a user"/>
                                </div>
                                <div class="potential-users" ng-hide="!potentialUsers[0]">
                                    <ul>
                                        <li ng-repeat="potentialUser in potentialUsers" ng-click="addSharedUser(potentialUser);">{{ potentialUser.name }}<span> ({{ potentialUser.email }})</span></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit();">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="confirmEdit(); dClose('editProjectModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid">Edit Project</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteProjectModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="setDeletable({});"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Project</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Do you want to completely destroy <strong>{{ deletable.name }}</strong>?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="setDeletable({});">Close</button>
                <button type="submit" class="btn btn-danger" ng-click="deleteProject(); dClose('deleteProjectModal');">Delete Project</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->