<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="left">Welcome to <b>Flexi</b></h1>
            <a href="#" data-toggle="modal" data-target="#newProjectModal" class="btn btn-default btn-sm add-item" ng-hide="user.role=='Commenter'">Create a project</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="panel-list">
                <li ng-repeat="project in projects | filter:searchText | orderBy:'name'" class="panel">
                    <div class="panel-top">
                        <a href="#" class="panel-edit" ng-click="setEditable(project._id)" ng-hide="user.role =='Commenter'" data-toggle="modal" data-target="#editProjectModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true">edit</span> </a>
                        <a href="#" class="panel-delete" ng-click="deleteProject(project._id)" ng-hide="user.role =='Commenter'">&#215;</a>
                    </div>
                    <div class="panel-middle">
                        <h4><a href="/projects/{{ project._id }}">{{ project.name }}</a></h4>
                        <p style="clear:both;">{{ project.description }}</p>
                    </div>
                    <div class="panel-bottom">
                        <!--<span class="label label-success notification">Success</span><span class="label label-warning notification">Warning</span>-->
                    </div>
                </li>
                <li class="new panel" data-toggle="modal" data-target="#newProjectModal" ng-hide="user.role =='Commenter'">
                    <p>+</p>
                </li>
            </ul>
        </div>
    </div>
</div>





<!-- MODALS -->
<div class="modal fade" id="newProjectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a new project!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-md-12">
                    <form name="createForm" enctype="multipart/form-data">
                        <div>
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$pristine || createForm.name.$invalid}">*</span> Name</label>
                                <input class="form-control" type="text" name="name" placeholder="name of project" ng-model="formData.name" ng-maxlength="64" ng-minlength="3" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="formData.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" modal ng-click="createProject(); dClose('newProjectModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid">Create Project</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editProjectModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelEdit();"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit {{ editableProject.name }}!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="createForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$invalid}">*</span> Edit name</label>
                                <input class="form-control" type="text" ng-model="editableProject.name"  required />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="editableProject.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit();">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="confirmEdit(); dClose('editProjectModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid">Edit Project</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->