<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 back-link">
            <a href="/projects/{{ backURL }}" >&larr; back to sets</a>
        </div>
        <div class="col-md-12">
            <h1 class="left">{{ set.name }}</h1>
            <a href="#" data-toggle="modal" data-target="#newPostModal" class="btn btn-default btn-sm add-item">Create a new post</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="panel-list">
                <li ng-repeat="post in set.posts | filter:searchText | orderBy:'name'" class="panel post-panel">
                    <a href="#" class="panel-delete" ng-click="deletePost(post._id)">x</a>
                    <h4><a href="/projects/{{ backURL }}/{{ set._id }}/{{ post._id }}">{{ post.name }}</a></h4>
                    <p style="clear:both;">{{ post.description }}</p>
                    <img src="/{{ post.imageURL }}" />
                </li>
                <li class="panel new" data-toggle="modal" data-target="#newPostModal">
                    <p>+</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="newPostModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="dReset('imageForm');" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a new post!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <form name="imageForm" id="imageForm" resetable>
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : imageUp === 0}">*</span> Image <span style="color:grey;"><i>(.jpg and .png only)</i></span></label>
                                <input class="form-control" type="file" name="image" id="imageFileUpload" onchange="angular.element(this).scope().uploadFile(this.files);" ng-model="formData.image" ng-disabled="imageUp === 1" />

                                <button ng-disabled="imageButtonState === 'Uploading...' || imageButtonState === 'Invalid file type'" ng-show="imageButtonState != ''" type="reset" class="btn btn-sm btn-warning" ng-click="resetImage()">{{ imageButtonState }}</button>
                                <span style="color:red;" ng-show="errorMessage != ''">{{ errorMessage }}</span>
                            </div>
                        </form>

                        <form name="createForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$pristine || createForm.name.$invalid}">*</span> Name</label>
                                <input class="form-control" type="text" name="name" placeholder="name of post" ng-model="formData.name" ng-maxlength="64" ng-minlength="3" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="formData.description" ng-maxlength="256" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetImage(); clearForm(); dReset('imageForm');">Close</button>
                <button type="submit" modal class="btn btn-primary" ng-click="addPost(); dReset('imageForm'); dClose('newPostModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid || imageUp == 0">Create Set</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
<div id="newPostModal" class="reveal-modal medium" data-reveal modal>
    <h2>Create a new Post</h2>
    <div class="newPostForm">
        <div class="large-12 columns">

        	<form name="imageForm" id="imageForm" resetable>
	            <label><span ng-class="{'red' : imageUp === 0}">*</span> Image <span style="color:grey;"><i>(.jpg and .png only)</i></span>
	                <input type="file" name="image" id="imageFileUpload" onchange="angular.element(this).scope().uploadFile(this.files);" ng-model="formData.image" ng-disabled="imageUp === 1" />
	            </label>
				<button ng-disabled="imageButtonState === 'Uploading...' || imageButtonState === 'Invalid file type'" ng-show="imageButtonState != ''" type="reset" class="button tiny alert" ng-click="resetImage()">{{ imageButtonState }}</button>
                <span style="color:red;" ng-show="errorMessage != ''">{{ errorMessage }}</span>
           	</form>

            <form name="createForm" novalidate enctype="multipart/form-data">
                <label><span ng-class="{'red' : createForm.name.$pristine || createForm.name.$invalid}">*</span> Name
                    <input type="text" name="name" placeholder="name of post" ng-model="formData.name" required/>
                </label>
                <label>Description
                    <input type="text" name="description" placeholder="description" ng-model="formData.description" />
                </label>
                <button type="submit" class="button" ng-click="addPost(); dReset('imageForm'); dClose('newPostModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid || imageUp == 0">Create Post</button>
            </form>
        </div>
        <a class="close-reveal-modal" ng-click="resetImage(); clearForm(); dReset('imageForm');">&#215;</a>
    </div>
</div> -->