<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 back-link">
            <a href="{{ROOT}}/projects/{{ backURL }}" >&larr; back to sets</a>
        </div>
        <div class="col-md-12">
            <h1 class="left">{{ set.name }}</h1>
            <a href="#" data-toggle="modal" data-target="#newPostModal" class="btn btn-default btn-sm add-item">Create a new post</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nav class="sorting-options">
                <div class="sorting-dropdown">
                    Sort By:
                    <select class="form-control" id="filterDropdown" ng-init="filter=options[2]" ng-change="filterSelected()"ng-model="filter" ng-options="opt as opt.label for opt in options">
                    </select>
                </div>
                <ul class="pagination"  ng-hide="pages.length <= 1">
                    <li>
                        <a href="#" aria-label="Previous" ng-click="pageLeft();">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="i in pages track by $index" ng-class="{'active':page === ($index + 1)}"><a href="#" ng-click="setPage($index + 1)">{{ $index + 1}}</a></li>
                    <li>
                        <a href="#" aria-label="Next" ng-click="pageRight();">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="panel-list">
                <li ng-repeat="post in visiblePosts | filter:searchText" class="panel" ng-click="$parent.setPosts(visiblePosts,$index,ROOT,backURL,set._id)">
                    <div class="panel-top">
                        <a href="#" title="delete this post" class="panel-delete" ng-click="setDeletable(post)" data-toggle="modal" data-target="#deletePostModal"><span class="fa fa-times" aria-hidden="true"></span></a>
                        <a href="#" title="edit this post" class="panel-edit" ng-click="postEditable(post._id)" data-toggle="modal" data-target="#editPostModal"><span class="fa fa-pencil" aria-hidden="true"></span></a>
                    </div>
                    <a class="panel-middle panel-middle-image" ng-href="{{ROOT}}/projects/{{ backURL }}/{{ set._id }}/{{ post._id }}">
                        <h4>{{ post.name }}</h4>
                        <p style="clear:both;">{{ post.description }}</p>
                        <div class="panel-image-container"><img ng-src="{{ROOT}}/{{ post.imageURL }}" /></div>
                    </a>
                    <div class="panel-bottom">

                    </div>

                </li>
                <li title="create a new post" class="panel new new-post" data-toggle="modal" data-target="#newPostModal">
                    <p>+</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="newPostModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="close" ng-click="dReset('imageForm');" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a new post!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <form name="imageForm" id="imageForm" resetable>
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : imageUp === 0}">*</span> Image <span style="color:grey;"><i>(.jpg and .png only)</i></span></label>
                                <input class="form-control" type="file" name="image" id="imageFileUpload" onchange="angular.element(this).scope().uploadFile(this.files);" ng-model="formData.image" ng-disabled="imageUp === 1" />

                                <button ng-disabled="imageButtonState === 'Uploading...' || imageButtonState === 'Invalid file type'" ng-show="imageButtonState != ''" type="reset" class="btn btn-sm btn-warning" style="margin-top:7px;" ng-click="resetImage()">{{ imageButtonState }}</button>
                                <span style="color:red;" ng-show="errorMessage != ''">{{ errorMessage }}</span>
                            </div>
                        </form>

                        <form name="createForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$pristine || createForm.name.$invalid}">*</span> Name</label>
                                <input class="form-control" type="text" name="name" placeholder="name of post" ng-model="formData.name" ng-maxlength="64" ng-minlength="3" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="formData.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" ng-click="removeTag($index);" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetImage(); clearForm(); dReset('imageForm');">Close</button>
                <button type="submit" modal class="btn btn-primary" ng-click="addPost(); dReset('imageForm'); dClose('newPostModal');" ng-disabled="createForm.name.$invalid || imageUp == 0">Create Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editPostModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="close" ng-click="cancelEdit();" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit post!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="editForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : editForm.name.$invalid}">*</span>Edit Name</label>
                                <input class="form-control" type="text" name="name" placeholder="name of post" ng-model="editablePost.name" ng-maxlength="64" ng-minlength="3" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Edit Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="editablePost.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" ng-click="removeTag($index);" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit();">Close</button>
                <button type="submit" modal class="btn btn-primary" ng-click="confirmEdit(); dClose('editPostModal');" ng-disabled="editForm.name.$invalid">Confirm Edit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="deletePostModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="close" class="close" data-dismiss="modal" aria-label="Close" ng-click="setDeletable({});"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Post</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Do you want to completely destroy <strong>{{ deletable.name }}</strong>?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="setDeletable({});">Close</button>
                <button type="submit" class="btn btn-danger" ng-click="deletePost(); dClose('deletePostModal');">Delete Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->