<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 back-link">
            <a href="/projects/{{ backURL }}" >&larr; back to sets</a>
        </div>
        <div class="col-md-12">
            <h1 class="left">{{ set.name }}</h1>
            <a href="#" data-toggle="modal" data-target="#newPostModal" class="btn btn-default btn-sm add-item">Create a new post</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pagination-handles">
                <a href="#" ng-click="endLeft()" class="fa fa-angle-double-left"></a>
                <a href="#" ng-click="pageLeft()" class="fa fa-angle-left"></a>
                {{pagination - pageLength < 0 ? 1 : pagination > set.posts.length ? set.posts.length : pagination - pageLength + 1}}
                -
                {{pagination > set.posts.length ? set.posts.length : pagination}} of {{set.posts.length}}
                <a href="#" ng-click="pageRight()" class="fa fa-angle-right"></a>
                <a href="#" ng-click="endRight()" class="fa fa-angle-double-right"></a>
                Sort By:
                <select id="filterDropdown" ng-change="filterSelected()" ng-model="filter" ng-options="opt as opt.label for opt in options">
                </select>
            </div>
            <ul class="panel-list">

                <li ng-repeat="post in set.posts | filter:searchText |
                 limitTo: searchText == '' || searchText == undefined ? pagination : 9 |
                 limitTo: searchText == '' || searchText == undefined ? -pageLength: -9" class="panel">
                    <div class="panel-top">
                        <a href="#" class="panel-delete" ng-click="deletePost(post._id)"><span class="fa fa-times" aria-hidden="true"></span></a>
                        <a href="#" class="panel-edit" ng-click="postEditable(post._id)" data-toggle="modal" data-target="#editPostModal"><span class="fa fa-pencil" aria-hidden="true"></span></a>
                    </div>
                    <div class="panel-middle panel-middle-image">
                        <h4><a href="/projects/{{ backURL }}/{{ set._id }}/{{ post._id }}">{{ post.name }}</a></h4>
                        <p style="clear:both;">{{ post.description }}</p>
                        <img src="/{{ post.imageURL }}" />
                    </div>
                    <div class="panel-bottom">

                    </div>

                </li>
                <li class="panel new" data-toggle="modal" data-target="#newPostModal">
                    <p>+</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="newPostModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="dReset('imageForm');" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a new post!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <form name="imageForm" id="imageForm" resetable>
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : imageUp === 0}">*</span> Image <span style="color:grey;"><i>(.jpg and .png only)</i></span></label>
                                <input class="form-control" type="file" name="image" id="imageFileUpload" onchange="angular.element(this).scope().uploadFile(this.files);" ng-model="formData.image" ng-disabled="imageUp === 1" />

                                <button ng-disabled="imageButtonState === 'Uploading...' || imageButtonState === 'Invalid file type'" ng-show="imageButtonState != ''" type="reset" class="btn btn-sm btn-warning" style="margin-top:7px;" ng-click="resetImage()">{{ imageButtonState }}</button>
                                <span style="color:red;" ng-show="errorMessage != ''">{{ errorMessage }}</span>
                            </div>
                        </form>

                        <form name="createForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$pristine || createForm.name.$invalid}">*</span> Name</label>
                                <input class="form-control" type="text" name="name" placeholder="name of post" ng-model="formData.name" ng-maxlength="64" ng-minlength="3" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="formData.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" ng-click="removeTag($index);" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetImage(); clearForm(); dReset('imageForm');">Close</button>
                <button type="submit" modal class="btn btn-primary" ng-click="addPost(); dReset('imageForm'); dClose('newPostModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid || imageUp == 0">Create Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editPostModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="cancelEdit();" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit post!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="editForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : editForm.name.$invalid}">*</span>Edit Name</label>
                                <input class="form-control" type="text" name="name" placeholder="name of post" ng-model="editablePost.name" ng-maxlength="64" ng-minlength="3" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Edit Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="editablePost.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" ng-click="removeTag($index);" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit();">Close</button>
                <button type="submit" modal class="btn btn-primary" ng-click="confirmEdit(); dClose('editPostModal');" ng-disabled="editForm.name.$invalid">Edit Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->