<div class="row">
    <div class="large-12 columns">
        <h1 class="left">Admin Page</h1>
    </div>
    <br />
    <div>
        <!-- Add Search Bar for Table -->
    </div>
    <div>
        <form id="changeRole" ngModel="formData">
            <table>
                <tr>
                    <th> Username </th>
                    <th> Current Role </th>
                    <th> New Role </th>
                </tr>
                <tr ng-repeat="user in userList| filter:searchText" > <!--  orderBy:'name'" -->
                    <td>
                        <p style="clear:both;">{{ user.name }}</p>
                    </td>
                    <td>
                        <p>  {{ user.role }}</p>
                    </td>
                    <td>
                        <select id="roleDropdown" ng-model="userModels[$index]">
                            <option value="commenter" label="Commenter"> </option>
                            <option value="owner" label="Project Owner" > </option>
                            <option value="sysAdmin" label="System Admin"> </option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="button" value="Submit Changes" ng-click="updateRoles()"/>
        </form>
    </div>
</div>

