<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 back-link">
            <a href="/projects" >&larr; back to projects</a>
        </div>
        <div class="col-md-12">
            <h1 class="left">{{ project.name }}</h1>
            <a href="#" data-toggle="modal" data-target="#newSetModal" class="btn btn-default btn-sm add-item">Create a new set</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="sorting-options">
                <div class="sorting-dropdown">
                    Sort By:
                    <select class="form-control" id="filterDropdown" ng-change="filterSelected()"ng-model="filter" ng-options="opt as opt.label for opt in options">
                    </select>
                </div>
                <ul class="pagination"  ng-hide="pages.length <= 1">
                    <li>
                        <a href="#" aria-label="Previous" ng-click="pageLeft();">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="i in pages track by $index" ng-class="{'active':page === ($index + 1)}"><a href="#" ng-click="setPage($index + 1)">{{ $index + 1}}</a></li>
                    <li>
                        <a href="#" aria-label="Next" ng-click="pageRight();">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="panel-list">
                <li ng-repeat="set in visibleSets | filter:searchText" class="panel">
                    <div class="panel-top">
                        <a href="#" class="panel-delete" ng-click="deleteSet(set._id)"><span class="fa fa-times" aria-hidden="true"></span></a>
                        <a href="#" class="panel-edit" ng-click="setEditable(set._id)" data-toggle="modal" data-target="#editSetModal"><span class="fa fa-pencil" aria-hidden="true"></span></a>
                    </div>
                    <a href="/projects/{{ project._id }}/{{ set._id }}" class="panel-middle">
                        <h4>{{ set.name }}</h4>
                        <p style="clear:both;">{{ set.description }}</p>
                    </a>
                    <div class="panel-bottom">
                        <!--<span class="label label-success notification">Success</span><span class="label label-warning notification">Warning</span>-->
                    </div>
                </li>
                <li>
                    <div class="new panel" data-toggle="modal" data-target="#newSetModal">
                        <p>+</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="modal fade" id="newSetModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a new set!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="createForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$pristine || createForm.name.$invalid}">*</span> Name</label>
                                <input class="form-control" type="text" name="name" placeholder="name of set" ng-model="formData.name" ng-maxlength="64" ng-minlength="3" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="formData.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" ng-click="removeTag($index);" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="addSet(); dClose('newSetModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid">Create Set</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="editSetModal" modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelEdit();"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit {{ editableSet.name }}!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="createForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label"><span ng-class="{'red' : createForm.name.$invalid}">*</span> Edit name</label>
                                <input class="form-control" type="text" ng-model="editableSet.name"  required />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" name="description" placeholder="description" ng-model="editableSet.description" ng-maxlength="256" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <div class="form-control form-tags">
                                    <span ng-repeat="tag in newTags" ng-click="removeTag($index);" class="form-tag">{{ tag.text }}</span>
                                    <input class="form-new-tag" ng-model="newTag" placeholder="add a tag" press-enter="addTag();"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEdit();">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="confirmEdit(); dClose('editSetModal');" ng-disabled="createForm.name.$pristine || createForm.name.$invalid">Edit Set</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->