.pager-container {
    background-color: #fff;
    border-top: 1px solid #b0b4b8;
    margin: 1rem 0 0 0;
    padding: .5rem;
}

.pager-container ul {
    font-size: .75rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pager-container span ul {
    float:right;
}


.pager-container span ul li:nth-child(3) {
    margin-left: -1.25rem;
}

.pager-container span ul li:nth-child(4) {
   margin: 0 .5rem 0 -.25rem; 
}

.pager-container ul li {
    display: inline-block;
    float: left;
}

.pager-container ul li div {
    width: auto;
}


.pager-container ul li div span, 
.pager-container ul li div span i {
    color: #333;
    left: -1.125rem;
    position: relative;
}   

.pager-container div span div input {
    background-color: #cacfd4;
    border-radius: .1875rem;
    border-style: none;
    box-shadow: none;
    color: #333;
    float:left;
    height: 1.5rem;
    margin: -.125rem 0.5rem;
    width: 2rem;
}

.pager-container div span div input:hover,
.pager-container span ul li:nth-child(5) a:hover,
.pager-container span ul li:nth-child(6) a:hover {
    background-color: #bec2c7;
    transition: background-color 300ms ease-out 0s;
}

.pager-container div span div div div div:hover {
    background-color: #bec2c7;
    color: #333;
    cursor: pointer;
}

.pager-container span ul li:nth-child(5) a,
.pager-container span ul li:nth-child(6) a {
    background-color: #cacfd4;
    border-radius: .1875rem;
    color: #333;
    display: block;
    height: 1.5rem;
    margin: -.125rem 0.125rem;
    text-align: center;
    width: 1.5rem;
}

.pager-container span ul li:nth-child(5) a.disabled,
.pager-container span ul li:nth-child(6) a.disabled {
    cursor: default;
    opacity: .6;
}

.pager-container span ul li:nth-child(5) a i.fa,
.pager-container span ul li:nth-child(6) a i.fa {
    margin: .35rem 0 0 0;
}
