.row {
    max-width:none;
    padding: 0 40px;
}
.red {
	color: red;
}
.green {
	color: green;
}
.right {
   float: right;
}
.left {
   float: left;
}
.panel-list {
  margin: 10px 0 0 0;
  padding: 0px;
  list-style: none;
}
.panel {
  list-style: none;
  width: 300px;
  float: left;
  margin-right: 30px;
  background-color: #EAEAEA;
  min-height: 200px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.panel:hover {
  background-color: #DDDDDD;
}
/*
.panel:hover > .panel-top {
  opacity: 1;
}
.panel:hover > .panel-bottom {
  opacity: 1;
}*/
.panel-top {
  width: 100%;
  height: 25px;
}
.panel-middle h4 {
  margin-top: 0px;
}
.panel-middle {
  padding: 0px 15px 30px 30px;
  height: 125px;
  display: block;
}
.panel-middle:hover {
  text-decoration: none;
}
.panel-middle-image {
  height: auto;
}
.panel-bottom {
  height: 25px;
  position: absolute;
  bottom: 0px;
  padding: 0 7px;
  width: 100%;
}
.panel-delete {
  top: 4px;
  float: right;
  right: 9px;
  font-size: 17px;
  position: relative;
}
.panel-delete:hover {
  color: #cd1b0e;
  text-decoration: none;
}
.panel-edit {
  float: right;
  position: relative;
  right: 18px;
  top: 6px;
  font-size: 13px;
}
.panel-image-container {
  height: 150px;
  width: 238px;
  overflow: hidden;
}
.panel-image-container img {
  max-width: 100%;
}
.new-post {
  height: 236px !important;
  padding-top: 30px;
}
.new {
  height: 200px;
  border-style: dashed;
  background: none !important;
  border-color: #D3D3D3;
}
.new:hover {
  border-color: rgb(7, 52, 89);
  cursor: pointer;
}
.new p {
  color: #D3D3D3;
  font-size: 50px;
  margin-top: 60px !important;
  text-align: center;
}
.new:hover p {
  color:  rgb(7, 52, 89);
}
#imageForm {
	background-color: #eee;
	padding: 9px;
}
.commentBlock h6 {
  font-weight: bold;
  font-size: 14px;
  color: #9B9B9B;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.commentBlock {
  list-style: none;
  width: 100%;
  display: inline-block;
  padding: 10px;
}
.hello-name {
  color: rgb(99, 99, 99);
  margin: 5px 0 0 0;
}
.brand {
  padding-top: 8px;
  display: block;
}
.brand img {
  height: 30px;
  opacity: 0.4;
  margin-left: 5px;
}
.brand img:hover {
  opacity: 1;
}
.notification {
  margin-left: 3px;
}
.login-window {
  background-color: #F5F5F5;
  border-radius: 8px;
  border: 1px solid #062641;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0px 3px rgba(0,0,0,.3);
}
.add-item {
  margin: 23px 0 0 30px;
}
.back-link {
  margin: 12px 0 0 2px;
}
.new-comment {
  padding: 15px;
}
.press-enter {
  position: absolute;
  left: -99999px;
  opacity: 0;
}
.form-tag {
  padding: 3px 8px;
  background-color: #DDDDDD;
  border-radius: 2px;
  margin: 2px 2px;
  float: left;
  border-bottom: 1px solid rgb(184, 184, 184);
}
.form-tag::after {
  content: "\00D7";
  font-size: 13px;
  margin-left: 4px;
}
.form-tag:hover {
  color: rgb(178, 49, 49);
  cursor: pointer;
}
.form-new-tag {
  border: none;
  margin: 5px;
  outline: none;
  width: 100%;
}
.form-tags {
  height: auto;
}
.potential-users {
  width: 100%;
  border: 1px solid grey;
  top: -5px;
  position: relative;
  background-color: white;
  border-radius: 0 0 4px 4px;
}
.potential-users ul {
  margin: 0px;
  padding: 0px;
}
.potential-users ul li {
  list-style: none;
  padding: 2px 16px;
  cursor: pointer;
}
.potential-users ul li:hover {
  background-color: #DDDDDD;
}
.shared-with-icon {
  float: right;
}
.shared-with-icon:hover + div  {
  visibility: visible;
}
.shared-with-icon + div {
  visibility: hidden;
  background-color: black;
  color: white;
  border-radius: 4px;
  z-index: 99;
  position: absolute;
  right: 35px;
  top: -5px;
  padding: 10px;
}
.shared-with-icon + div::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  position: absolute;
  top: 8px;
  right: -5px;
}
.sorting-options {
  width: 100%;
}
.sorting-options .pagination {
  float: left;
}
.sorting-dropdown {
  float: left;
  margin-right: 20px;
}
.form-control {
  color: #444444 !important;
}