.row {
    max-width:none;
    padding: 0 40px;
}
.red {
	color: red;
}
.green {
	color: green;
}
.right {
   float: right;
}
.left {
   float: left;
}
.panel-list {
  margin: 10px 0 0 0;
  padding: 0px;
  list-style: none;
}
.panel {
  list-style: none;
  width: 300px;
  float: left;
  padding: 20px;
  margin-right: 30px;
  background-color: #EAEAEA;
  min-height: 200px;
  margin-bottom: 30px;
}
.panel img {
  max-width: 100%;
}
.new {
  height: 200px;
  border-style: dashed;
  background: none;
  border-color: #D3D3D3;
}
.new:hover {
  border-color: #828282;
  cursor: pointer;
}
.new p {
  color: #D3D3D3;
  font-size: 50px;
  margin-top: 35px !important;
  text-align: center;
}
.new:hover p {
  color:  #828282;
}
.panel-delete {
	top: -19px;
	float: right;
	right: -11px;
	position: relative;
}
.panel-delete:hover {
	color: red;
}
#imageForm {
	background-color: #eee;
	padding: 9px;
}
.commentBlock h6 {
  font-weight: bold;
  font-size: 14px;
  color: #9B9B9B;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.commentBlock {
  list-style: none;
  width: 100%;
  display: inline-block;
  padding: 10px;
}
.hello-name {
  color: rgb(99, 99, 99);
  margin: 5px 0 0 0;
}
.brand {
  padding-top: 8px;
  display: block;
}
.brand img {
  height: 30px;
  opacity: 0.4;
  margin-left: 5px;
}
.brand img:hover {
  opacity: 1;
}


#imageDiv {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  float: left;
  cursor: crosshair;
  margin-top: 50px;
}
.flexiBox {
  background: rgba(255, 255, 255, 0.63);
  border-radius: 8px;
  position: absolute;
  -webkit-transition:0.2s linear background;
  -moz-transition:0.2s linear background;
  -o-transition:0.2s linear background;
  transition:0.2s linear background;
}

.flexiBoxHover {
  background: rgba(255, 255, 255, 0.05);
  -webkit-transition:0.2s linear background;
  -moz-transition:0.2s linear background;
  -o-transition:0.2s linear background;
  transition:0.2s linear background;
}

.flexiNumberHover {
  opacity: .1;
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
}
.commentPanel {
  padding: 0px;
}
.hoverCommentHover {
  opacity: 1 !important;
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
  visibility: visible !important;
}
.commentBlockHovered {
  background-color: #E5E5E5;
}
.hoverComment {
  background-color: #323232;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 99;
  padding: 8px;
  visibility: hidden;
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
}
.hoverComment h6 {
  font-weight: bold;
  font-size: 14px;
  color: #e7e7e7;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.hoverComment p {
  color: rgb(199, 199, 199);
  font-size: .8em;
}
.flexiNumber {
  display: block;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px !important;
  margin-left: -15px;
  padding-top: 7px !important;
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;

}
.maybe {
  background: rgba(52, 112, 160, 0) ;
  border: 4px solid black;
}
.commentNumber {
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 15px;
  padding-top: 4px;
  margin-top: 4px;
}
.commentContent {
  margin-left: 45px;
}
.commentContent p {
  font-size: .8em;
}
.login-window {
  background-color: #F5F5F5;
  border-radius: 8px;
  border: 1px solid #062641;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0px 3px rgba(0,0,0,.3);
}
.commentContent ul {
  margin: -6px 0 0 0;
}
.commentContent ul li {
  list-style: none;
  border-left: 3px solid;
  padding-left: 10px;
  margin: -10px 0 0 2px;
}
.replyLink {
  font-size: .8em !important;
}
.replyBlock {
  border-color: #CBCBCB !important;
}
.add-item {
  margin: 23px 0 0 30px;
}
.back-link {
  margin: 12px 0 0 2px;
}
.sidebar {
  top: 50px;
  bottom: 0px;
  right: 0px;
  position: fixed;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.workspace {
  height: auto;
  overflow-x: scroll;
  background: url("/img/workspace-bg.jpg");
}

.big-image {
  box-shadow: 4px 4px 15px rgba(0,0,0,.3);
}
