.row {
    max-width:none;
    padding: 0 40px;
}
.red {
	color: red;
}
.green {
	color: green;
}
.right {
   float: right;
}
.left {
   float: left;
}
.panel-list {
  margin: 10px 0 0 0;
  padding: 0px;
  list-style: none;
}
.panel {
  list-style: none;
  width: 300px;
  float: left;
  margin-right: 30px;
  background-color: #EAEAEA;
  min-height: 200px;
  margin-bottom: 30px;
  position: relative;
}
.panel:hover > .panel-top {
  opacity: 1;
}
.panel-top {
  width: 100%;
  height: 25px;
  opacity: 0;
}
.panel-middle h4 {
  margin-top: 0px;
}
.panel-middle {
  padding: 0px 15px 30px 30px;
  height: 125px;
}
.panel-middle-image {
  height: auto;
}
.panel-bottom {
  height: 25px;
  position: absolute;
  bottom: 0px;
  left: 5px;
}
.panel-delete {
  top: 4px;
  float: right;
  right: 9px;
  font-size: 17px;
  position: relative;
}
.panel-delete:hover {
  color: #cd1b0e;
  text-decoration: none;
}
.panel-edit {
  float: right;
  position: relative;
  right: 18px;
  top: 6px;
  font-size: 13px;
}
.panel-image-container {
  height: 150px;
  width: 238px;
  overflow: hidden;
}
.panel-image-container img {
  max-width: 100%;
}
.new-post {
  height: 265px !important;
}
.new {
  height: 200px;
  border-style: dashed;
  background: none;
  border-color: #D3D3D3;
}
.new:hover {
  border-color: #828282;
  cursor: pointer;
}
.new p {
  color: #D3D3D3;
  font-size: 50px;
  margin-top: 60px !important;
  text-align: center;
}
.new:hover p {
  color:  #828282;
}
#imageForm {
	background-color: #eee;
	padding: 9px;
}
.commentBlock h6 {
  font-weight: bold;
  font-size: 14px;
  color: #9B9B9B;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.commentBlock {
  list-style: none;
  width: 100%;
  display: inline-block;
  padding: 10px;
}
.hello-name {
  color: rgb(99, 99, 99);
  margin: 5px 0 0 0;
}
.brand {
  padding-top: 8px;
  display: block;
}
.brand img {
  height: 30px;
  opacity: 0.4;
  margin-left: 5px;
}
.brand img:hover {
  opacity: 1;
}
.notification {
  margin-left: 3px;
}
.login-window {
  background-color: #F5F5F5;
  border-radius: 8px;
  border: 1px solid #062641;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0px 3px rgba(0,0,0,.3);
}
.add-item {
  margin: 23px 0 0 30px;
}
.back-link {
  margin: 12px 0 0 2px;
}
.new-comment {
  padding: 15px;
}
.press-enter {
  position: absolute;
  left: -99999px;
  opacity: 0;
}
.form-tag {
  padding: 3px 8px;
  background-color: #DDDDDD;
  border-radius: 2px;
  margin: 2px 2px;
  float: left;
  border-bottom: 1px solid rgb(184, 184, 184);
}
.form-tag:hover {
  text-decoration: line-through;
  cursor: pointer;
}
.form-new-tag {
  border: none;
  margin: 5px;
  outline: none;
  width: 100%;
}
.form-tags {
  height: auto;
}
.potential-users {
  width: 100%;
  border: 1px solid grey;
  top: -5px;
  position: relative;
  background-color: white;
  border-radius: 0 0 4px 4px;
}
.potential-users ul {
  margin: 0px;
  padding: 0px;
}
.potential-users ul li {
  list-style: none;
  padding: 2px 16px;
  cursor: pointer;
}
.potential-users ul li:hover {
  background-color: #DDDDDD;
}