<!--<div class="row">
    <div class="large-6 columns">
    	<h6><a href="{{ROOT}}/projects/{{ backURL }}" style="">&laquo; back to set</a></h6>
        <h1>{{ post.name }}</b></h1>
    </div>
</div>-->
<link rel="stylesheet" href="../../../styles/post.css" />
<div class="row" style="height:100%;">
    <!-- make the margins using this wrapper div and padding so that we can maintain 100% height -->
    <div id="imageWrapper">
        <div id="imageDiv" class="col-md-9 main workspace" ng-class="{'workspace-scaled': currentView == 'scaled'}">

            <img draggable="false" id="draggable-container" class="big-image" ng-src="{{ROOT}}/{{ post.imageURL }}" ng-mousedown="mDown($event)" ng-mouseup="mUp($event)" ng-mousemove="mMove($event)" />

            <div ng-repeat="comment in post.comments" ng-comment="{{comment}}" class="flexiBox" id="comment{{ comment.number }}" ng-style="getStyle($index)" ng-click="scrollSideBar()" ng-mouseenter="setCurrentComment(comment._id);" ng-mouseleave="setCurrentComment(0);" ng-class="{'flexiBoxHover': $parent.currentComment == comment._id}" ng-hide="!$parent.locationComments || !comment.smallest">
                <div class="commentNumber flexiNumber" ng-style="{background: '{{ comment.color }}'}" ng-class="{'flexiNumberHover': $parent.currentComment == comment._id}">{{ comment.number }}</div>
                <div class="hoverComment" ng-style="{top:'{{ comment.height - 5 }}px', 'border-bottom':'4px solid {{ comment.color }}'}" ng-class="{'hoverCommentHover': $parent.currentComment == comment._id}" ng-show="currentView == 'full'">
                    <h6>{{ comment.posterName }}</h6>
                    <p>{{ comment.txt }}</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 col-md-offset-9 sidebar">
		<ul style="margin: 0px; padding: 0px;">
			<li ng-repeat="comment in post.comments" id="commentSide{{ comment.number }}" class="commentBlock" style="list-style:none;" ng-class="{'commentBlockHovered': $parent.currentComment == comment._id}" ng-click="$parent.scrollView();" ng-mouseenter="$parent.setCurrentComment(comment._id)" ng-mouseleave="$parent.setCurrentComment(0)">
				<div class="commentNumber" ng-style="{background: '{{ comment.color }}'}">{{ comment.number }}</div>
				<div class="commentContent">
					<h6>{{ comment.posterName }}</h6>
					<p>{{ comment.txt }}</p>
					<ul>
						<li ng-repeat="reply in comment.replies" ng-style="{'border-color': '{{ comment.color }}'}">
							<h6>{{ reply.posterName }}</h6>
							<p>{{ reply.txt }}</p>
						</li>
						<li class="replyBlock">
							<a ng-click="showReply($index)" ng-hide="$index == replyIndex" class="replyLink">Add a reply</a>
							<form name="newReply" ng-show="$index == replyIndex">
								<div class="form-group">
									<input type="text" class="form-control" name="txt" placeholder="press enter to post reply..." ng-model="newReply.rText" ng-minlength="2" required/>
									<button type="submit" style="margin-top:10px" class="btn btn-small btn-primary press-enter" ng-click="addReply(comment._id, newReply.rText);" ng-disabled="newReply.txt.$pristine || newReply.txt.$invalid || $parent.username === ''">Reply</button>
									<!--<button type="cancel" style="margin-top:10px" class="btn btn-small btn-secondary" ng-click="showReply(null)" style="background-color: #CFCFCF">Cancel</button>-->
								</div>
							</form>
						</li>
					</ul>
				</div>
			</li>
		</ul>

		<div class="new-comment">
			<form name="newComment" novalidate enctype="multipart/form-data">
				<div class="form-group">
					<input id="comment-box" class="form-control" style="margin-bottom: 5px" type="text" name="txt" placeholder="press enter to post a comment..." ng-model="newComment.cText" ng-minlength="2" required/>
					<!--<div class="alert alert-warning" ng-show="newDiv === 0"><p>Select an area on the picture to comment on</p></div>-->
					<button type="submit" class="btn btn-small btn-primary press-enter" ng-click="addComment();" ng-disabled="newComment.txt.$pristine || newComment.txt.$invalid || $parent.username === ''">Post</button>
				</div>
			</form>
		</div>
   	</div>
	<div class="post-toolbar">
		<a class="post-toolbar-back-button" href="{{ROOT}}/projects/{{ backURL }}" >&larr; back to posts</a>
		<div class="post-toolbar-buttons">
			<i class="fa fa-arrows-alt" ng-click="toggleView();" ng-class="{'post-toolbar-button-on': currentView == 'full', 'post-toolbar-button-off': currentView == 'scaled'}" ng-click="toggleView();"></i>
			<i class="fa fa-comment" ng-click="toggleLocationComments();" ng-class="{'post-toolbar-button-on': locationComments, 'post-toolbar-button-off': !locationComments}"></i>
		</div>
	</div>
</div>
