<!--<div class="row">
    <div class="large-6 columns">
    	<h6><a href="/projects/{{ backURL }}" style="">&laquo; back to set</a></h6>
        <h1>{{ post.name }}</b></h1>
    </div>
</div>-->

<div class="row">
	<div id="imageDiv" class="large-8 columns">
    	<img draggable="false" src="/{{ post.imageURL }}" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" style="max-width: 100%" />
    	<div ng-repeat="comment in post.comments" class="flexiBox" id="comment{{ comment.number }}" style="top:{{ comment.smallest.y }}px; left:{{ comment.smallest.x }}px; width:{{ comment.width }}px; height:{{ comment.height }}px; border: 4px solid {{ comment.color }};" ng-mouseenter="$parent.currentComment = comment._id" ng-mouseleave="$parent.currentComment = 0" ng-class="{'flexiBoxHover': $parent.currentComment == comment._id}">
    		<div class="commentNumber flexiNumber" style="background: {{ comment.color }};" ng-class="{'flexiNumberHover': $parent.currentComment == comment._id}">{{ comment.number }}</div>
			<div class="hoverComment" style="top:{{ comment.height - 4 }}px;" ng-class="{'hoverCommentHover': $parent.currentComment == comment._id}">
				<h6>{{ comment.posterName }}</h6>
				<p>{{ comment.txt }}</p>
			</div>
    	</div>
    </div>
    <div class="large-4 columns" style="margin-top: 17px;">
	    <div class="panel commentPanel">
			<ul style="margin-left: 0;">
				<li ng-repeat="comment in post.comments" class="commentBlock" style="list-style:none;" ng-class="{'commentBlockHovered': $parent.currentComment == comment._id}" ng-mouseenter="$parent.currentComment = comment._id" ng-mouseleave="$parent.currentComment = 0">
					<div class="commentNumber" style="background: {{ comment.color }};">{{ comment.number }}</div>
					<div class="commentContent">
						<h6>{{ comment.posterName }}</h6>
						<p>{{ comment.txt }}</p>
                        <ul>
                            <li ng-repeat="reply in comment.replies" style="border-color: {{ comment.color }};">
                                <h6>{{ reply.posterName }}</h6>
                                <p>{{ reply.txt }}</p>
                            </li>
                            <li class="replyBlock">
                                <a ng-click="showReply($index)" ng-hide="$index == replyIndex" class="replyLink">Add a reply</a>
                                <form name="newReply" ng-show="$index == replyIndex">
                                    <input type="text" name="txt" placeholder="post a reply..." ng-model="newReply.rText" ng-minlength="2" required/>
                                    <button type="submit" class="button tiny" ng-click="addReply(comment._id, newReply.rText);" ng-disabled="newReply.txt.$pristine || newReply.txt.$invalid || $parent.username === ''">Reply</button>
									<button type="cancel" class="button tiny secondary" ng-click="showReply(null)" style="background-color: #CFCFCF">Cancel</button>
                                </form>
                            </li>
                        </ul>
					</div>
				</li>
			</ul>
			<form name="newComment" novalidate enctype="multipart/form-data" class="commentBlock">
				<input type="text" name="txt" placeholder="post a comment..." ng-model="newComment.cText" ng-minlength="2" required/>
				<div class="panel callout" ng-show="$parent.username === ''"><p>Please login first.</p></div>
				<div class="panel callout" ng-show="newDiv === 0"><p>Select an area on the picture to comment on</p></div>
				<button type="submit" class="button small" ng-click="addComment();" ng-disabled="newComment.txt.$pristine || newComment.txt.$invalid || $parent.username === ''">Post</button>
			</form>
	    </div>
   	</div>
</div>
